.box{margin-left: 20%;
    margin-right: 20%;

}




#contenitorefoto {

    background-color: rgb(183, 185, 185);
    padding-top: 20px; 
    padding-right: 30px; 
    padding-bottom: 10px;
    padding-left: 30%;
   
    

    ;
    }
#centro{
      margin-left: 15%;
     
}

    h1 { color: rgb(187, 161, 16);}  

h2 {font-style: oblique;}

p { font-style: calc();}